	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/09/2020 21:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-meat:before { content: "\f100"; }
.flaticon-medicine:before { content: "\f101"; }
.flaticon-tractor:before { content: "\f102"; }
.flaticon-mortarboard:before { content: "\f103"; }
.flaticon-school:before { content: "\f104"; }
.flaticon-baby-food:before { content: "\f105"; }
.flaticon-cutlery:before { content: "\f106"; }
.flaticon-baby-food-1:before { content: "\f107"; }
.flaticon-mortarboard-1:before { content: "\f108"; }
.flaticon-wheat-1:before { content: "\f109"; }
.flaticon-wheat-2:before { content: "\f10a"; }
.flaticon-gardening-tools:before { content: "\f10b"; }
.flaticon-smart-farm:before { content: "\f10c"; }
.flaticon-farming-tools:before { content: "\f10d"; }
.flaticon-study:before { content: "\f10e"; }
.flaticon-book:before { content: "\f10f"; }
.flaticon-graduated:before { content: "\f110"; }
.flaticon-eat:before { content: "\f111"; }
.flaticon-restaurant:before { content: "\f112"; }
.flaticon-vegetables:before { content: "\f113"; }
.flaticon-diet:before { content: "\f114"; }
.flaticon-salad:before { content: "\f115"; }