@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


/*---------------- navbar ------------------*/


header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

header .brand {
  color: #422222;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all .6s;
}

header .btn {
  display: none;
  font-size: 30px;
  color: #000;

}

header.sticky {
  /* background-color: #0E2973;
  padding: 20px 100px; */
  /* height: 85px; */
}

header {
  background-color: #181112;
  opacity: .75;
  padding: 5px 60px;
}

header .menu {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu li {
  list-style: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  margin: 0 15px;
  padding: 0 10px;
  color: #fff;
  font-size: 2rem;
}


header .menu .dropdown-menu {
  position: absolute;
  display: none;
  border-radius: 1Opx;
  border: 1px;
  margin: 2rem 1rem;
  height: 170px;
  width: 170px;
  background-color: #101F46;
  opacity: none;
  transition: all 1s;
}

header .menu .dropdown-menu li {
  padding: 10px 10px;
  list-style: none;

}

header .menu .dropdown-menu li:hover {

  background-color: #fff;
  /* color: #000; */

}

header .menu .dropdown-menu li a {
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1;
  margin: 0 30px;
  padding: 0 10px;
  color: #fff;
}

header .menu .dropdown-menu li a:hover {
  background: none;
  color: #000;
}

header .menu .dropdown-menu.display {
  display: block;
}

header .donate {
  margin-top: 1.3rem;
  margin-right: 1rem;
}

a.donate {
  text-decoration: none;
}

a.donate:hover {
  color: #fff;
}

.donate {
  font-size: 2.5rem;

  text-transform: capitalize;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  background-color: #507500;
  padding: 8px 30px;
  margin: 0 5rem;
  opacity: 1;
  cursor: pointer;
}

.donate:hover {
  background-color: #9F3739;
}

@media screen and (max-width:991px) {
  header .btn {
    display: block;
  }

  .fa-bars {
    color: #fff;
  }

  header .menu {
    position: fixed;
    background-color: #fff;
    opacity: none;
    min-width: 400px;
    height: 100vh;
    right: -100%;
    top: 0;
    padding: 80px 50px;
    transition: .6s;
    transform-origin: right;
    flex-direction: column;
    align-items: center;

  }

  header .menu ul {
    flex-direction: column;
  }



  .menu.act {
    right: 0;
  }

  header .menu .close-btn {

    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a {
    display: block;
    font-size: 3rem;
    margin: 20px;
    padding: 0 15px;
    color: #000;
  }

  header .menu .dropdown-menu {
    top: 250px;
    margin: 0 1rem;

  }

  header .menu .donate {
    background-color: #507500;
    padding: 1rem 5rem;
    color: #fff
  }
}

/*------------- HOME PAGE ----------------*/

.header__background {
  background-image: url('../images/web-ready-pictures/background.jpg');
  background-size: cover;
  background-position: center center;
  background-color: #393E43;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* opacity: .8; */
  height: 100vh;

}

.header_main-text {
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);

}



.header_main-text>span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFEC00;
  font-size: 5.5rem;
  font-weight: bold;
  background: transparent;


}

@media screen and (max-width:1050px) {
  .header_main-text {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);

  }

  .header_main-text>span {
    font-size: 5.0rem;



  }
}

@media screen and (max-width:991px) {
  .header_main-text {
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);

  }

  .header_main-text>span {
    font-size: 4.5rem;
  }
}

@media screen and (max-width:870px) {


  .header_main-text>span {
    font-size: 4.0rem;
  }
}

@media screen and (max-width:870px) {


  .header_main-text>span {
    font-size: 4.0rem;
  }
}

@media screen and (max-width:690px) {
  .header_main-text {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);

  }

  .header_main-text>span {
    font-size: 3.5rem;
  }
}

@media screen and (max-width:610px) {
  .header_main-text {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);

  }

  .header_main-text>span {
    font-size: 3.2rem;
  }
}

@media screen and (max-width:565px) {
  .header_main-text {
    position: absolute;
    top: 50%;
    transform: translate(5%, -50%);

  }

  .header_main-text>span {
    padding: 1rem 4rem;
    font-size: 3.2rem;
  }
}

/*----------------------------------*/

/* about */

.about {
  /* margin-top: 3rem; */
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  padding: 5rem auto;
  color: #FFF5E2;
}


.mission,
.projects-about,
.contact-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  padding: 4rem 1rem;

}

.mission>h2,
.projects-about>h2,
.contact-about>h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.mission {
  background-color: #507600;
  font-size: 2rem;

}

.projects-about {

  background-color: #4682B4;


}

.contact-about {

  background-color: #eac90e;
  opacity: 1.9;
  font-size: 2rem;

  color: rgba(236, 235, 235, 0.98)
}

.home-icons {
  width: 50%;
}

@media screen and (max-width:840px) {

  .about {
    text-align: center;
  }
}

@media screen and (max-width:600px) {

  .about {
    grid-template-columns: 1fr;

    grid-gap: 1rem;
    margin: 1rem auto;
  }

  .mission,
  .projects-about,
  .contact-about {
    margin: 1rem 5rem;
    padding: 3rem 5rem;
  }
}

/*------------------- what we do -----------------------*/

.what_we_do {
  background-color: #FAFAFA;

}

.what_we_do--main-text {
  font-size: 3.6rem;
  text-transform: capitalize;
  margin: 5rem auto;
  color: #422;
  font-weight: bold;
  text-align: center;
}

.our-work {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin: 7rem auto;
  justify-content: center;
}




.our-work>div>p {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #334;
  padding: 1rem auto;
  margin-bottom: 5rem;
  /* text-align: center; */
}

@media screen and (max-width:991px) {
  .our-work {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*-------------------------------------------------*/


/*---------------------  ABOUT CBO ---------------------*/

.about__foundation {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about__foundation--text {
  background-color: #4682B4;
  color: #FFFFFF;

}

.about__foundation--text_h2 {
  text-align: center;
  font-size: 3rem;
  margin: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about__foundation--image-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.about__foundation--text_paragraph {
  padding: 1rem 10rem;
  font-size: 1.8rem;
  margin: 1rem auto;
  text-align: center;

}

.about__foundation--text_paragraph:last-child {
  margin-top: 2rem;
}

.about__foundation--text_button {
  border: none;
  outline: none;
  background-color: #0E2973;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1rem 3rem;
}


/*---------------- cta--------------------------*/
.cta {
  margin-bottom: 10rem;
}

.cta-quotes {
  margin: 5rem auto;
  /* min-height: 100px;
  height: auto; */
  text-align: center;
}

.cta-quote {
  font-weight: 100;
  font-size: 3rem;
  /* max-width: 800px; */
  width: 100%;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

.cta-quote:before,
.cta-quote:after {
  position: absolute;
  color: #333;
  font-size: 7rem;
  width: 4rem;
  height: 4rem;
}

.cta-quote:before {
  content: "“";

  top: -3rem;
}

.cta-quote:after {
  content: "”";

  bottom: .5rem;
}

cite {
  line-height: 1;
  margin: 3rem;
  text-align: left;
  font-size: 1.9rem;
}

.cta-video {
  margin: 2rem auto;
}

.cta__form {
  margin: 4rem auto;
  margin-bottom: 5rem;
}

.cta__form--title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem 0;

}

.cta-contact__form {
  display: flex;
  flex-direction: column;
  margin: .5rem 10%;

}


.cta-contact__form input,
.cta-contact__form textarea {
  margin: .5rem 0;
  padding: 1rem 0;
  border: 2px solid #000;
  font-size: 2rem;

}

.cta-contact__form input[type="submit"] {

  background-color: #213E8C;
  color: #fff;
  cursor: pointer;
  padding: 1rem 5rem;
  margin: -3rem auto;


}


/* input {
  text-align: left;
  color: #000
}

::-webkit-input-placeholder {
  text-align: left;
  color: #000
}

:-moz-placeholder {
  text-align: left;
  color: #000
} */



/* .about__nav {
  background-color: #99f1b5;
  height: 20vh;
} */

.affix {
  padding: 0;
  background-color: #99f1b5;
  width: 100%;
  color: #fff;
}

/*------------------   ABOUT PAGE --------------------------*/

.about__section {
  margin: 11rem auto;
  background-color: #4682B4;

}

.about__main-text {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  padding: 10rem 3rem;
}


.about__section--text {
  margin: 5rem auto;
  text-align: center;
  font-size: 2.1rem;
  padding: 2rem 20rem;



}

@media screen and (max-width:991px) {


  .about__section--text {
    margin: 5rem auto;
    text-align: center;
    font-size: 2.1rem;
    padding: 2rem 10rem;



  }

}

@media screen and (max-width:800px) {


  .about__section--text {
    margin: 1rem 0;
    padding: 1rem 5rem;
  }

}

@media screen and (max-width:450px) {
  .about__main-text {
    font-size: 4rem;
  }

  .about__section--text {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem 2rem;



  }

}

/*------------------ all images to mae them sharper --------------------------*/
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.grid-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .wider {
  grid-column: span 2;
  grid-row: span 1.9;
}



.grid-wrapper .taller {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}


/* .web__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}

.web__gallery img {
  width: 100%;
  height: auto;
} */

.about__statement {
  margin: 1rem auto;
  padding: 4rem 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: italic;
  background-color: #507600;
}


@media screen and (max-width:700px) {
  .about__statement {

    font-size: 2.3rem;

  }


}

.about__mission {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about__mission--text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;

}

.about__mission--text_h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about__mission--image-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.about__mission--text_paragraph {
  padding: 1rem 10rem;
  font-size: 1.8rem;
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;

}

.about__mission--text_paragraph>p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__mission--statement {
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: italic;
  background-color: #213E8C;
  opacity: .9;
}


.about__mission--statement>a>button {
  margin-top: 2rem;
  background-color: #fff;
  color: #213E8C;
  font-weight: bold;
}

.about__team {
  margin: 5rem auto;
}

.about__team-title {

  margin: 5rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

}

.about__team--players {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}



@media screen and (max-width:991px) {
  .about__team--players {

    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

  }
}


@media screen and (max-width:600px) {

  .about__team--players {

    grid-template-columns: repeat(1, 1fr);

  }
}

.about__team--players h2 {
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 1rem;
}

.about__team--players p {

  font-size: 2rem;
}

/*---------------- Agriculture  page ------------------------*/

.agriculture {
  margin-top: 15rem;
}

.agriculture>h1 {
  font-size: 3.5rem;
}

.agriculture>p {
  font-size: 2.8rem;
  padding: 2rem 10rem;
}

.agriculture-video {
  margin: 2rem auto;
}

.agriculture__section {
  margin: 5rem auto;
}

.agriculture__section>h1 {
  font-size: 3.5rem;
}

.agriculture__container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 5rem auto;
  justify-content: center;
}

.agriculture__box {
  margin: 1rem auto;
}

.agriculture__img--box {
  width: 40%;
  height: auto;
}

.agriculture__main-text {
  font-size: 3.6rem;
  text-transform: capitalize;
  margin: 5rem auto;
  color: #422;
  font-weight: 500;
}

.agriculture__box>h2 {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.agriculture__box>p {
  font-size: 2rem;
  color: #334;
  padding: 1rem auto;
  margin-bottom: 5rem;
}

.agriculture__work>h1 {
  font-size: 3.5rem;
  margin: 3rem auto;
  margin-bottom: 5rem;
}

.agriculture__work>.row {
  margin: 5rem 5rem;
}

.agriculture__text-img>img {
  width: 100%;
  height: auto;
  -webkit-image-orientation: from-image;
  -moz-image-orientation: from-image;
  image-orientation: from-image;
}

.agriculture__text>h2 {
  font-size: 3rem;
  color: rgba(51, 51, 51, 0.942);
  font-weight: 700;
  text-align: center;
}

.agriculture__text>p {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.942);
  font-weight: 500;
  padding: 2rem 10rem;
}

.agriculture__title {
  font-size: 3.5rem;
  color: rgba(51, 51, 51, 0.942);
}

.agriculture__gallery {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 2rem auto;
  justify-content: center;
  margin-bottom: 5rem;
}

.agriculture__gallery--img {
  width: 100%;
}

/*---------------- Engineering page ------------------------*/
.engineering {
  margin-top: 15rem;
}

.engineering>h1 {
  font-size: 3.5rem;
}

.engineering>p {
  font-size: 2.8rem;
  padding: 2rem 10rem;
}

.engineering__section {
  margin: 5rem auto;
}

.engineering__section>h1 {
  font-size: 3.5rem;
}

.engineering__container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 5rem auto;
  justify-content: center;
}

.engineering__box {
  margin: 1rem auto;
}

.engineering__box>h2 {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.engineering__box>p {
  font-size: 2rem;
  color: #334;
  padding: 1rem 5rem;
  margin-bottom: 5rem;
}

.engineering__img--box {
  width: 20%;
  height: auto;
}

/*---------------------------------------------------*/

/*-------------------- Construction -----------------------------*/
.construction {
  margin-top: 15rem;
}

.construction>h1 {
  font-size: 3.5rem;
}

.construction>p {
  font-size: 2.8rem;
  padding: 2rem 10rem;
}

.construction__section {
  margin: 5rem auto;
}

.construction__section>h1 {
  font-size: 3.5rem;
}

.construction__container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 5rem auto;
  justify-content: center;
}

.construction__box {
  margin: 1rem auto;
}

.construction__box>h2 {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.construction__box>p {
  font-size: 2rem;
  color: #334;
  padding: 1rem 5rem;
  margin-bottom: 5rem;
}

.construction__img--box {
  width: 20%;
  height: auto;
}

.construction__gallery {
  margin-top: 2rem;
}

/*---------------------------------------------------*/
/*----------------Block Chain ---------------------------*/
.blockchain {
  margin-top: 15rem;
}

.blockchain>h1 {
  font-size: 3.5rem;
}

.blockchain>p {
  font-size: 2.8rem;
  padding: 2rem 10rem;
}

.blockchain__section {
  margin: 5rem auto;
}

.blockchain__section>h1 {
  font-size: 3.5rem;
}

.blockchain__container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 5rem auto;
  justify-content: center;
}

.blockchain__box {
  margin: 1rem auto;
}

.blockchain__box>p {
  font-size: 2.5rem;
}

.blockchain__img--box {
  width: 20%;
  height: auto;
}

/* .blockchain__img--box > img {
  width: 100%;
  height: auto;
} */
.blockchain__main-text {
  font-size: 3.6rem;
  text-transform: capitalize;
  margin: 5rem auto;
  color: #422;
  font-weight: 500;
}

.blockchain__box>h2 {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.blockchain__box>p {
  font-size: 2.3rem;
  color: #334;
  margin: 1rem auto;
  padding: 1rem 3rem;
  margin-bottom: 5rem;
}

.blockchain__work>h1 {
  font-size: 3.5rem;
  margin: 3rem auto;
  margin-bottom: 5rem;
}

.blockchain__work>.row {
  margin: 5rem 5rem;
}

.blockchain__text-img>img {
  width: 100%;
  height: auto;
  -webkit-image-orientation: from-image;
  -moz-image-orientation: from-image;
  image-orientation: from-image;
}

.blockchain__text>h2 {
  font-size: 3rem;
  color: rgba(51, 51, 51, 0.942);
  font-weight: 700;
  text-align: center;
}

.blockchain__text>p {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.942);
  font-weight: 500;
  padding: 2rem 10rem;
}

.blockchain__title {
  font-size: 3.5rem;
  color: rgba(51, 51, 51, 0.942);
}

.blockchain__gallery {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 2rem auto;
  justify-content: center;
  margin-bottom: 5rem;
}

.blockchain__gallery--img {
  width: 100%;
}

.crypto__data {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* --- 3------*/
  grid-gap: 5rem;
  margin: 7rem auto;
  justify-content: center;
}

.img-style {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

.text-style {
  text-align: center;
}


.project-icons {
  width: 30%;
  margin-bottom: 1rem;
}

/*--------------------- FOOTER ----------------------------*/
footer {
  background-color: #4682B4;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


}

.footer__contacts,
.footer__mailing--list,
.footer__links {
  margin: 5rem 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #f9f9f9;


}

.footer__contacts h1,
.footer__mailing--list h1,
.footer__links h1 {

  margin: 2rem 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer__contacts-social {
  margin: 2rem 0
}

.footer__contacts-social img {
  width: 50px;
  height: auto;
}

.footer__contacts-social:last-child {
  margin-left: 1rem;
}


.footer__contacts--span {
  font-size: 1.9rem;
}

.footer__contact--logo {
  display: flex;
  align-items: start;
}

.footer__mailing--list>p {
  font-size: 1.6rem;
}

.footer__mailing--list form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__mailing--list input {
  border: none;
  outline: none;
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: 1.8rem;

}

.footer__mailing--list_email {
  border-bottom: 2px solid #000;
}

.footer__mailing--list_submit {
  background-color: #507600;
  color: #fff;
  text-align: center;

}

.footer__mailing--list_submit:hover {
  background-color: #9E1039;
}

.footer__links h1 {
  text-align: right;
}

.footer__links ul {
  list-style: none;
  font-size: 1.8rem;

}

.footer__links li {
  margin: 1rem 0;
}

.footer__links a {
  text-align: left;
  text-decoration: none;
  color: #f9f9f9;
}

@media screen and (max-width:772px) {
  footer {

    grid-template-columns: repeat(1, 1fr);


  }

  .footer__contacts,
  .footer__mailing--list,
  .footer__links {
    margin: 2rem auto;

    color: #f9f9f9;


  }

  .footer__links h1 {
    text-align: center;
  }

  .footer__links ul {
    display: flex;
    /* justify-content: space-between;
    flex-direction: row; */
  }

  .footer__links li {

    padding: 1rem 1rem;
  }

}

@media screen and (max-width:360px) {
  .footer__links ul {
    margin-left: -3rem;
    display: flex;
    flex-direction: row;
  }
}


/* .cta-submit__button {
  margin: -1rem 0;
  padding: 1rem -10rem;
  text-align: center;

} */

/*-------------------------------------------------*/

/*---------------------------------------------------*/

/*------------------ contact  page ------------------------*/
.contact__us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 25rem;

}


.contact__us--from__heading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact__us--from__paragraph {
  font-size: 2rem;
}

.contact__us--details {


  font-size: 2rem;
}

.contact__us--image {
  width: 100%;
  height: 450px
}

/* .section-contact {
 
  margin-top: 5rem;
}


*/

.form {
  line-height: 30px;
  color: #000;

  box-sizing: border-box;
}

.form__container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;

}

#contact {
  background: #f9f9f9;
  padding: 2.2rem;
  padding-right: 5rem;
  margin: 5rem 0;
  margin-top: .1rem;
  box-shadow: 30px 0 20px 20px rgba(0, 0, 0, 0.2), 5px 0px 5px 5px rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}

#contact h4 {
  margin: 0.5rem 0 1.5rem;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background: #fff;
  margin: 0 0 0.5rem;
  padding: 1rem;
}

/* #contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
} */

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {

  cursor: pointer;
  width: 50%;
  border: none;
  background: #507600;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #213E8C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media (max-width: 992px) {
  /* #map {
    margin-top: 7rem;
    height: 100px;
    width: 100%;
  }

  .mapouter {
    text-align: right;
    height: 400px;
    width: 400px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 400px;
  } */
}

.contact__details {
  margin-bottom: 20px;
}

.single-contact-address h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: -20;
}

@media only screen and (max-device-width: 923px) {
  .contact__container {
    grid-gap: 5rem;
  }
}

@media only screen and (max-width: 768.98px) {
  .contact__container--details>h3 {
    margin: 0 auto;
  }

  .contact__details {
    margin: 0 auto;
    /* margin-left:20rem; */
  }

  /* 
  .contact__container--map {
    display: none;
  } */

  /* .mapouter {
    display: none;
  }

  .gmap_canvas {
    display: none;
  } */

  .section-contact {
    margin-top: 1rem;
  }

  .contact__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 1rem auto;
    width: 100%;
  }

  .contact__container--details {
    justify-self: center;
  }

  .contact__container--details>h3 {
    text-align: center;
  }

  .contact__text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}

/*------------------------------------------*/

/*------------------ footer -----------------------*/
/* Generic styling */

/* ul {
   
  } */


/*------------------------------------------*/

/*------------------ media queries -----------------------*/
@media only screen and (max-device-width: 768px) {
  header nav .navbar-collapse .navbar-nav {
    background-color: #fff;
  }

  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 2rem;
  }

  .section_one {
    width: 100%;
    margin: 3rem auto;
  }

  .text-area>.main-text {
    margin: 1rem 1rem;
    padding: 3rem 1rem;
    width: 100%;
  }

  .home__svg {
    height: auto;
    /* margin-bottom: 10rem; */
  }

  .donate {
    /* display: block; */
    color: rgb(133, 128, 128);
    font-size: 2rem;
    text-align: center;
    background: #450000;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .our-team {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  /*----------------- agriculture page ------------------- */
  .agriculture>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .agriculture__text>p {
    font-size: 2rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 500;
    padding: 2rem 1rem;
  }

  /*------------------crypto currencies---------------------------- */

  .blockchain>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering__box {
    margin: 1rem auto;
  }

  .engineering__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem auto;
    margin-bottom: 5rem;
  }

  /*----------------- Engineering ------------------- */
}

@media only screen and (max-device-width: 425px) {
  /*------------- HOME PAGE ----------------*/

  .fundikipusa-logo {
    width: 50%;
  }

  section_one {
    width: 100%;
    margin: 5rem auto;
  }

  .text-area-heading {
    color: #fff;
    width: 100%;
    font-size: 3rem;
    line-height: 1.5;
  }

  .text-area-heading>span {
    background: #6db784;
  }

  .text-area>.main-text {
    font-size: 2.5rem;
    line-height: 3.4rem;
    font-weight: 500;
    width: 100%;
    margin: 1rem 0;
    color: #fffafa;
    font-weight: 500;
  }

  .button {
    font-size: 1.1rem;
    text-transform: capitalize;
    background-color: #f9e45b;
    color: #333;
    outline: none;
    border: none;
    /* margin: 1rem auto;
    margin-left: auto;
    text-align: center; */
    padding: 1.8rem 2rem;
  }

  .button__about {
    margin: 0 auto;
    text-align: center;
  }

  /*----------------------------------*/

  /* utilities */

  .about-us {
    width: 100%;
  }

  .about-us .row {
    margin-top: 1rem;
  }

  .about-us--img-details {
    position: relative;
  }

  .about__img {
    margin: 5rem auto;
    width: 600px;
    height: auto;
  }

  .about_us--img-text>p {
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: rgb(110, 48, 13);
    padding: 50px 10px;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.9rem;
    color: rgba(253, 253, 253, 0.78);
  }

  .about-us__text {
    margin: 5rem auto;
    padding: 0 2rem;
  }

  .about-us__text>.panel>a {
    text-decoration: none;
    margin-top: 4rem;

    font-size: 2rem;
  }

  .about-us__heading {
    margin-top: 4rem;
    font-size: 2.5rem;
    color: #fff;
  }

  .about-us__heading>span {
    background-color: #6db784;
  }

  .about-us__text {
    margin: 5rem auto;
    padding: 0 2rem;
  }

  .about-us__maintext {
    font-size: 2.7rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.942);
  }

  .about-us__subtext {
    font-size: 1.9rem;
    margin-bottom: 5rem;
    color: rgba(51, 51, 51, 0.942);
  }

  .text-area>.main-text {
    padding: 3rem 1rem;
  }

  /*------------------   ABOUT PAGE --------------------------*/

  .about__section {
    margin: 1rem 1rem;
    width: 100%;
  }

  .text-area>img {
    width: 100%;
  }

  .about__main-text {
    margin: 0 1rem;
    padding: 5rem 1rem;
    font-size: 2.7rem;
  }

  .about__main-text>.paragraph__main {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
  }

  .about__us-page {
    background-color: #ffffff;
    width: 100%;
    margin: 0 1rem;
  }

  .about__us-page-row {
    margin: 0 auto;
    width: 100%;
  }

  .about__us-page--heading {
    margin-top: 3rem;
    font-size: 2.5rem;
    color: rgb(192, 79, 13);
    text-align: center;
  }

  .about__us--text {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .text-area>img {
    width: 100%;
  }

  .about-us__maintext {
    font-size: 2.7rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.942);
  }

  .about__us-page--subtext {
    font-size: 1.9rem;
    margin-bottom: 5rem;
    color: rgba(51, 51, 51, 0.942);
  }

  .about__page-quotes {
    margin: 10rem auto;
  }

  .about__page-quote {
    font-weight: 100;
    font-size: 2rem;
    /* max-width: 800px; */
    width: 100%;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 0.5rem;
  }

  .about__page-quote:before,
  .about__page-quote:after {
    position: absolute;
    color: #333;
    font-size: 3.7rem;
    width: 4rem;
    height: 4rem;
  }

  .about__page-quote:before {
    content: "“";
    left: -1rem;
    top: -4rem;
  }

  .about__page-quote:after {
    content: "”";
    right: 3rem;
    bottom: -5rem;
  }

  cite {
    line-height: 1;
    text-align: left;
    font-size: 1.9rem;
  }

  .about__page-cta {
    margin: 5rem 0;
  }

  .about__page-cta:last-child {
    margin: 2rem 3rem;
  }

  .about__page-cta--heading {
    font-size: 4.6rem;
    text-transform: capitalize;
    margin: 1rem auto;
    color: #422;
    font-weight: 500;
    text-align: center;
    padding: 0;
  }

  .about__page-cta-work {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 1rem auto;
    justify-content: center;
  }

  .about__page-cta-work__box>h1 {
    font-size: 4.8rem;
    color: #f9e45b;
  }

  .about__page-cta-work__box>h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about__page-cta-work__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem auto;
    margin-bottom: 2rem;
  }

  .work__img {
    width: 30%;
    height: auto;
  }

  .our__team-page {
    background-color: #ffffff;
    width: 100%;
    margin: 0 1rem;
  }

  .our__team-row {
    margin: 0 auto;
    width: 100%;
  }

  .our__team-heading {
    margin-top: 3rem;
    font-size: 2.5rem;
    color: rgb(192, 79, 13);
    text-align: center;
  }

  .our__team-text {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .text-area>img {
    width: 100%;
  }

  .our__team-maintext {
    font-size: 2.1rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.942);
  }

  .our__team--subtext {
    font-size: 1.9rem;
    margin-bottom: 5rem;
    color: rgba(51, 51, 51, 0.942);
  }

  .team_heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  /*---------------- Agriculture  page ------------------------*/

  .agriculture {
    margin-top: 5rem;
  }

  .agriculture>h1 {
    font-size: 3rem;
  }

  .agriculture>p {
    font-size: 2.7em;
    padding: 2rem 1rem;
  }

  .agriculture__section {
    margin: 3rem 1;
  }

  .agriculture__section>h1 {
    font-size: 3.5rem;
  }

  .agriculture__container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 3rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .agriculture__box {
    margin: 1rem auto;
  }

  .agriculture__img--box {
    width: 40%;
    height: auto;
  }

  .agriculture__main-text {
    font-size: 3.6rem;
    text-transform: capitalize;
    margin: 5rem auto;
    color: #422;
    font-weight: 500;
  }

  .agriculture__box>h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .agriculture__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem auto;
    margin-bottom: 5rem;
  }

  .agriculture__work>h1 {
    font-size: 3.5rem;
    margin: 3rem auto;
    margin-bottom: 5rem;
  }

  .agriculture__work>.row {
    margin: 5rem 5rem;
  }

  .agriculture__text-img>img {
    width: 100%;
    height: auto;
    -webkit-image-orientation: from-image;
    -moz-image-orientation: from-image;
    image-orientation: from-image;
  }

  .agriculture__text>h2 {
    font-size: 3rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 700;
    text-align: center;
  }

  .agriculture__text>p {
    font-size: 2rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 500;
    padding: 2rem 1rem;
  }

  .agriculture__title {
    font-size: 3.5rem;
    color: rgba(51, 51, 51, 0.942);
  }

  .agriculture__gallery {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 5rem;
    margin: 2rem auto;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .agriculture__gallery--img {
    width: 100%;
  }

  /*---------------- Engineering page ------------------------*/
  .engineering {
    margin-top: 3rem;
  }

  .engineering>h1 {
    font-size: 3.2rem;
  }

  .engineering>p {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  .engineering__section {
    margin: 5rem auto;
  }

  .engineering__section>h1 {
    font-size: 3.5rem;
  }

  .engineering__container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 3rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .engineering__box {
    margin: 1rem auto;
  }

  .engineering__box>h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .engineering__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }

  .engineering__img--box {
    width: 20%;
    height: auto;
  }

  /*---------------------------------------------------*/

  /*-------------------- Construction -----------------------------*/
  .construction {
    margin-top: 3rem;
  }

  .construction>h1 {
    font-size: 3.2rem;
  }

  .construction>p {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  .construction__section {
    margin: 3rem auto;
  }

  .construction__section>h1 {
    font-size: 3.5rem;
  }

  .construction__container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 3rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .construction__box {
    margin: 1rem auto;
  }

  .construction__box>h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .construction__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem 5rem;
    margin-bottom: 5rem;
  }

  .construction__img--box {
    width: 20%;
    height: auto;
  }

  /*---------------------------------------------------*/
  /*----------------Block Chain ---------------------------*/
  .blockchain {
    margin-top: 3rem;
  }

  .blockchain>h1 {
    font-size: 3.5rem;
  }

  .blockchain>p {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  .blockchain__section {
    margin: 3rem auto;
  }

  .blockchain__section>h1 {
    font-size: 3.5rem;
  }

  .blockchain__container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 3rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .blockchain__box {
    margin: 1rem auto;
  }

  .blockchain__box>p {
    font-size: 2.5rem;
  }

  .blockchain__img--box {
    width: 20%;
    height: auto;
  }

  /* .blockchain__img--box > img {
  width: 100%;
  height: auto;
} */
  .blockchain__main-text {
    font-size: 3.6rem;
    text-transform: capitalize;
    margin: 5rem auto;
    color: #422;
    font-weight: 500;
  }

  .blockchain__box>h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .blockchain__box>p {
    font-size: 2.3rem;
    color: #334;
    margin: 1rem auto;
    padding: 1rem 3rem;
    margin-bottom: 5rem;
  }

  .blockchain__work>h1 {
    font-size: 3.5rem;
    margin: 3rem auto;
    margin-bottom: 5rem;
  }

  .blockchain__work>.row {
    margin: 5rem 5rem;
  }

  .blockchain__text-img>img {
    width: 100%;
    height: auto;
    -webkit-image-orientation: from-image;
    -moz-image-orientation: from-image;
    image-orientation: from-image;
  }

  .blockchain__text>h2 {
    font-size: 3rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 700;
    text-align: center;
  }

  .blockchain__text>p {
    font-size: 2rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 500;
    padding: 2rem 10rem;
  }

  .blockchain__title {
    font-size: 3.5rem;
    color: rgba(51, 51, 51, 0.942);
  }

  .blockchain__gallery {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 5rem;
    margin: 2rem auto;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .blockchain__gallery--img {
    width: 100%;
  }

  .crypto__data {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* --- 3------*/
    grid-gap: 5rem;
    margin: 7rem auto;
    justify-content: center;
  }

  .img-style {
    width: 30%;
    height: auto;
    margin-bottom: 1rem;
  }

  .text-style {
    text-align: center;
  }

  /*---------------------------------------------------*/
}

/*------------------------------------------------------- */

@media only screen and (max-device-width: 375px) {
  header nav .navbar-collapse .navbar-nav {
    background-color: #fff;
  }

  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 2rem;
  }

  .section_one {
    width: 100%;
    margin: 5rem auto;
  }

  .home__svg {
    height: auto;
    /* margin-bottom: 10rem; */
  }

  .text-area>.main-text {
    padding: 3rem 1rem;
  }

  .donate {
    /* display: block; */
    color: rgb(133, 128, 128);
    font-size: 2rem;
    text-align: center;
    background: #450000;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  /*----------------- agriculture page ------------------- */
  .agriculture>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .agriculture__text>p {
    font-size: 2rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 500;
    padding: 2rem auto;
  }

  /*------------------crypto currencies---------------------------- */

  .blockchain>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering__box {
    margin: 1rem auto;
  }

  .engineering__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem auto;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-device-width: 320px) {
  header nav .navbar-collapse .navbar-nav {
    background-color: #fff;
  }

  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 2rem;
  }

  .section_one {
    width: 100%;
    margin: 2rem auto;
  }

  .text-area>.main-text {
    padding: 3rem 1rem;
  }

  .donate {
    /* display: block; */
    color: rgb(133, 128, 128);
    font-size: 2rem;
    text-align: center;
    background: #450000;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  /*----------------- agriculture page ------------------- */
  .agriculture>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .agriculture__text>p {
    font-size: 2rem;
    color: rgba(51, 51, 51, 0.942);
    font-weight: 500;
    padding: 2rem auto;
  }

  /*------------------crypto currencies---------------------------- */

  .blockchain>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering>p {
    font-size: 2.8rem;
    padding: 2rem auto;
  }

  .engineering__box {
    margin: 1rem auto;
  }

  .engineering__box>p {
    font-size: 2rem;
    color: #334;
    padding: 1rem auto;
    margin-bottom: 5rem;
  }
}