    /*
    Flaticon icon font: Flaticon
    Creation date: 21/11/2020 10:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-meat:before { content: "\f100"; }
.flaticon-medicine:before { content: "\f101"; }
.flaticon-tractor:before { content: "\f102"; }
.flaticon-baby-food:before { content: "\f103"; }
.flaticon-mortarboard-1:before { content: "\f104"; }
.flaticon-wheat-1:before { content: "\f105"; }
.flaticon-wheat-2:before { content: "\f106"; }
.flaticon-gardening-tools:before { content: "\f107"; }
.flaticon-smart-farm:before { content: "\f108"; }
.flaticon-farming-tools:before { content: "\f109"; }
.flaticon-study:before { content: "\f10a"; }
.flaticon-book:before { content: "\f10b"; }
.flaticon-graduated:before { content: "\f10c"; }
.flaticon-eat:before { content: "\f10d"; }
.flaticon-restaurant:before { content: "\f10e"; }
.flaticon-vegetables:before { content: "\f10f"; }
.flaticon-diet:before { content: "\f110"; }
.flaticon-salad:before { content: "\f111"; }
.flaticon-women:before { content: "\f112"; }
.flaticon-women-1:before { content: "\f113"; }
.flaticon-charity:before { content: "\f114"; }
    
    $font-Flaticon-meat: "\f100";
    $font-Flaticon-medicine: "\f101";
    $font-Flaticon-tractor: "\f102";
    $font-Flaticon-baby-food: "\f103";
    $font-Flaticon-mortarboard-1: "\f104";
    $font-Flaticon-wheat-1: "\f105";
    $font-Flaticon-wheat-2: "\f106";
    $font-Flaticon-gardening-tools: "\f107";
    $font-Flaticon-smart-farm: "\f108";
    $font-Flaticon-farming-tools: "\f109";
    $font-Flaticon-study: "\f10a";
    $font-Flaticon-book: "\f10b";
    $font-Flaticon-graduated: "\f10c";
    $font-Flaticon-eat: "\f10d";
    $font-Flaticon-restaurant: "\f10e";
    $font-Flaticon-vegetables: "\f10f";
    $font-Flaticon-diet: "\f110";
    $font-Flaticon-salad: "\f111";
    $font-Flaticon-women: "\f112";
    $font-Flaticon-women-1: "\f113";
    $font-Flaticon-charity: "\f114";